In [1]:
import pandas
import matplotlib.pyplot as plt
import numpy as np

def getStationary(df):
  df['delta'] = (df['open'] / df ['close']) - 1
  df['amplitude'] = (df['high'] / df['low']) - 1
  df['close_over_low'] = (df['close'] / df ['low']) - 1
  del df['open']
  del df['high']
  del df['low']
  df['volume'] = np.log(df['volume'])
  df['close'] = np.log(df['close'])
  return df

In [2]:
df_btc_22 = ((pandas.read_csv('../data/btc22.csv',sep=',')).sort_values('date')[['date','open','high','low','close','volume']]).set_index('date')
df_btc_22 = getStationary(df_btc_22)

In [3]:
df_btc_22.to_csv('../data/btc22clean.csv')

                      close    volume     delta  amplitude  close_over_low
date
2022.01.01 00:00  10.741817  3.703170 -0.000715   0.001357        0.000901
2022.01.01 00:01  10.743173  3.746702 -0.001355   0.002376        0.001695
2022.01.01 00:02  10.744381  3.937682 -0.001207   0.001921        0.001641
2022.01.01 00:03  10.743568  3.416380  0.000813   0.001668        0.000363
2022.01.01 00:04  10.743358  3.042630  0.000210   0.000780        0.000461
...                     ...       ...       ...        ...             ...
2022.12.31 23:55   9.713493  3.590076  0.000069   0.000194        0.000095
2022.12.31 23:56   9.713568  3.652952 -0.000113   0.000130        0.000129
2022.12.31 23:57   9.713403  3.977057  0.000166   0.000347        0.000165
2022.12.31 23:58   9.713321  3.363232  0.000082   0.000145        0.000000
2022.12.31 23:59   9.713682  4.248487 -0.000338   0.000498        0.000373

[525600 rows x 5 columns]