In [28]:
import pandas
import matplotlib.pyplot as plt

df_btc_22 = ((pandas.read_csv('../data/btc22.csv',sep=',')).sort_values('date')[['date','open','high','low','close','volume','tradecount']]).set_index('date')

In [33]:
def getStationary(df):
  df['delta'] = (df['open'] / df ['close']) - 1
  df['amplitude'] = (df['high'] / df['low'] - 1)
  return df

In [34]:
df_btc_22 = getStationary(df_btc_22)

In [35]:
df_btc_22

,open,high,low,close,volume,tradecount,delta,amplitude
date,,,,,,,,
2022.01.01 00:00,46216.93,46271.08,46208.37,46250.00,40.57574,796,-0.000715,0.001357
2022.01.01 00:01,46250.00,46344.23,46234.39,46312.76,42.38106,973,-0.001355,0.002376
2022.01.01 00:02,46312.76,46381.69,46292.75,46368.73,51.29955,1238,-0.001207,0.001921
2022.01.01 00:03,46368.73,46391.49,46314.26,46331.08,30.45894,953,0.000813,0.001668
2022.01.01 00:04,46331.07,46336.10,46300.00,46321.34,20.96029,591,0.000210,0.000780
...,...,...,...,...,...,...,...,...
2022.12.31 23:55,16540.42,16540.92,16537.71,16539.28,36.23683,1551,0.000069,0.000194
2022.12.31 23:56,16538.65,16540.53,16538.38,16540.52,38.58840,1536,-0.000113,0.000130
2022.12.31 23:57,16540.52,16540.79,16535.05,16537.78,53.35978,2088,0.000166,0.000347
2022.12.31 23:58,16537.78,16538.81,16536.42,16536.42,28.88239,1267,0.000082,0.000145
2022.12.31 23:59,16536.81,16544.47,16536.23,16542.40,69.99944,2536,-0.000338,0.000498